.content {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.content a {
  text-decoration: none;
  color: #f2f2f3;
}

.content a:visited {
  color: #f2f2f3;
}

.content a:hover,
.content a:active {
  text-decoration: none;
  color: #f2f2f3;
}
