.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}

.pageCenter {
  width: 100%;
  max-width: 640px;
  margin: 120px auto 0;
  box-sizing: border-box;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
